.solution {
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;

    background: $main-gradient-1-color;
}

.solution-container {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
}

.bgi-bg {
    width: 100%;
    margin: 0 auto;
}

.bgi-sm {
    width: 83px;
    position: absolute;
    bottom: -10px;
    margin-left: -10px;
}

.solution__text {
    padding: 80px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: normal;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    gap: 15px;
    color: $paragraph-color;
    font-size: 13px;
    line-height: 18px;
}

.solution__text-heading {
    display: flex;
    flex-direction: column;
    color: $heading-font-color;
    font-size: 12px;
    text-transform: capitalize;
    width: 207px;

    p:before {
        content: url(images/Vector.svg);
        padding-right: 5px;
    }

    h2 {
        /* H2/Extra Bold */
        font-size: 21px;
        font-family: Nunito;
        font-weight: 800;
        line-height: 30px;
    }
}

.solution__buttons {
    padding-top: 40px;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.solution__buttons--upper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.how-it-works {
    color: $main-1-color;
    background-image: url(images/Arrow-rigth-Icon-green.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    padding-right: 30px;
}

.how-it-works:hover {
    color: $heading-font-color;
    background-image: url(images/Arrow-rigth-Icon-gray.svg);
}

.sol-up-btn {
    width: 300px;
    height: 44px;
    border-radius: 5px;
    background: $main-1-color;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    font-weight: 700;
}

.solution__buttons--lower {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding: 40px 20px;

}

.sol-low-btn {
    // width: 130px;
    height: 25px;
    border-radius: 30px;
    background: $linear-gradient;
    text-align: center;
    line-height: 25px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    cursor: pointer;
}

.round-button {
    font-weight: 700;
    padding-right: 5px;
}

@media (min-width: 1410px) {
    .solution-container {
        max-width: 1410px;
        width: 100%;
        margin: 0 auto;
    }

    .bgi-bg {
        position: absolute;
        left: 50%;
        top: 0;
        width: 1013px;
        height: 647px;
    }

    .solution__text {
        padding-top: 150px;
        font-size: 18px;
        margin: 0;

        max-width: 600px;
    }

    .solution__text-heading {
        font-size: 20px;
        width: 560px;

        h2 {
            font-size: 58px;
            line-height: normal;
            padding: 20px 0;
        }

    }

    .bgi-sm {
        display: none;
    }

    .solution__buttons {
        max-width: 600px;
        margin: 0;
    }

    .solution__buttons--upper {
        flex-direction: row;
        gap: 30px;
        justify-content: left;
        padding-left: 20px;
    }

    .sol-up-btn {
        width: 175px;
        height: 60px;
        font-size: 18px;
        line-height: 58px;
    }

    .how-it-works {
        color: $paragraph-color;
        font-size: 18px;
        font-family: Nunito;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        color: $heading-font-color;
        background-image: url(images/Arrow-rigth-Icon-gray.svg);
    }

    .how-it-works:hover {
        color: $main-1-color;
        background-image: url(images/Arrow-rigth-Icon-green.svg);
    }

    .solution__buttons--lower {
        justify-content: space-evenly;
        padding-bottom: 60px;
    }

    .sol-low-btn {
        width: 150px;
        background: none;
        align-items: center;
        text-align: left;
        line-height: 25px;
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        gap: 10px;
    }

    .round-button {
        background: $linear-gradient;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 34px;
        padding: 8px;
    }

}