* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.desktop {
  display: none;
}

header span {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

.header-container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-top {
  height: 55px;
  background-color: rgb(12, 75, 53);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: rgb(0, 115, 12);
  border: 1px solid rgb(0, 115, 12);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: rgb(0, 115, 12);
}

.addressbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.addressbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.addressbar-email {
  background-image: url(images/email-1.svg);
}

.addressbar-tel {
  background-image: url(images/phone-call-1.svg);
}

.addressbar-location {
  background-image: url(images/location-1.svg);
}

.addressbar-bgi {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.arrow-down {
  background-image: url(images/arrow-down-white.svg);
}

.selection {
  width: 52px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  background-image: url(images/arrow-down-white.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  background-size: 7px 3.5px;
}

.navbar {
  background: #fff;
  color: rgb(11, 11, 11);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
}

.logo {
  width: 90px;
  height: 40px;
  background-image: url(images/1-LOGO.svg);
  background-size: 90px 40px;
}

.navbar-buttons {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar-buttons span {
  /* Button/Button Text */
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  text-transform: capitalize;
}

.nav-btn {
  order: 1;
  width: 40px;
  height: 34px;
  border-radius: 10px;
  background: rgb(0, 115, 12);
}
.nav-btn:hover .navbar-phone {
  background-image: url(images/phone-green.svg);
}

.navbar-phone {
  width: 20px;
  height: 20px;
  background-image: url(images/phone-white.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-menu-btn {
  order: 2;
  width: 30px;
  height: 30px;
  background-image: url(images/menu-1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.navbar-menu {
  display: none;
}

.solution {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(61deg, rgba(0, 115, 12, 0.81) 0.01%, rgba(251, 246, 238, 0) 75.75%);
}

.bgi-bg {
  width: 375px;
  margin: 0 auto;
}

.bgi-sm {
  width: 83px;
  position: absolute;
  bottom: -10px;
  margin-left: -10px;
}

.solution__text {
  padding: 80px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
  color: rgb(103, 103, 103);
  font-size: 13px;
  line-height: 18px;
}

.solution__text-heading {
  display: flex;
  flex-direction: column;
  color: rgb(33, 37, 41);
  font-size: 12px;
  text-transform: capitalize;
  width: 207px;
}
.solution__text-heading p:before {
  content: url(images/Vector.svg);
  padding-right: 5px;
}
.solution__text-heading h2 {
  /* H2/Extra Bold */
  font-size: 21px;
  font-family: Nunito;
  font-weight: 800;
  line-height: 30px;
}

.solution__buttons {
  padding-top: 40px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.solution__buttons--upper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.how-it-works {
  color: rgb(0, 115, 12);
  background-image: url(images/Arrow-rigth-Icon-green.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  padding-right: 30px;
}

.how-it-works:hover {
  color: rgb(33, 37, 41);
  background-image: url(images/Arrow-rigth-Icon-gray.svg);
}

.sol-up-btn {
  width: 300px;
  height: 44px;
  border-radius: 5px;
  background: rgb(0, 115, 12);
  text-align: center;
  line-height: 44px;
  font-size: 16px;
  font-weight: 700;
}

.solution__buttons--lower {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding: 40px 20px;
}

.sol-low-btn {
  height: 25px;
  border-radius: 30px;
  background: linear-gradient(180deg, rgb(255, 248, 241), rgb(203, 229, 206));
  text-align: center;
  line-height: 25px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  cursor: pointer;
}

.round-button {
  font-weight: 700;
  padding-right: 5px;
}

.services {
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 20px 0 2px;
}

.services-header {
  color: rgb(33, 37, 41);
  text-align: center;
  padding-bottom: 30px;
}
.services-header h2 {
  /* Mobile Font / H1 / Bold */
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 15px;
}
.services-header p {
  /* Mobile Font/H6/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.services-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-card {
  color: rgb(33, 37, 41);
  background-image: url(images/service-card.svg);
  background-repeat: no-repeat;
  background-size: 112px;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 10px;
}
.services-card:hover {
  background-color: rgb(0, 115, 12);
  color: white;
}

.card-content {
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 70px;
}
.card-content h5 {
  text-align: left;
  /* Mobile Font/H5/Bold */
  font-size: 16px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.card-content p {
  /* Mobile Font/H6/Regular */
  font-size: 14px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.tree-planting {
  background-image: url(images/Tree-Planting.svg);
}
.tree-planting:hover {
  background-image: url(images/Tree-Planting-Active.svg);
}

.grass-cuttin {
  background-image: url(images/Grass-Cutting.svg);
}
.grass-cuttin:hover {
  background-image: url(images/Grass-Cutting-Active.svg);
}

.garden-design {
  background-image: url(images/Garden-Design.svg);
}
.garden-design:hover {
  background-image: url(images/Garden-Design-Active.svg);
}

.plant-growing {
  background-image: url(images/Plant-Growing.svg);
}
.plant-growing:hover {
  background-image: url(images/Plant-Growing-Active.svg);
}

.flower-scaping {
  background-image: url(images/Flower-Scaping.svg);
}
.flower-scaping:hover {
  background-image: url(images/Flower-Scaping-Active.svg);
}

.branch-cutting {
  background-image: url(images/Branch-cutting.svg);
}
.branch-cutting:hover {
  background-image: url(images/Branch-cutting-Active.svg);
}

.pests {
  background-image: url(images/Pests.svg);
}
.pests:hover {
  background-image: url(images/Pests-Active.svg);
}

.watering {
  background-image: url(images/Watering-Irrigation.svg);
}
.watering:hover {
  background-image: url(images/Watering-Irrigation-Active.svg);
}

.color-green {
  color: rgb(0, 115, 12);
}

@media (min-width: 1410px) {
  .desktop {
    display: block;
  }
  .header-container {
    max-width: 1410px;
    padding: 0;
  }
  .navbar-top {
    height: 60px;
  }
  .addressbar-bgi {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }
  header span {
    display: block;
  }
  .selection {
    width: 66px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    background-size: 12px 6.5px;
  }
  .navbar-buttons {
    width: 80%;
  }
  .navbar-phone {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .nav-btn {
    display: flex;
    justify-content: center;
    order: 2;
    width: 170px;
    height: 50px;
    border-radius: 5px;
  }
  .nav-btn:hover span {
    background-color: white;
    color: rgb(0, 115, 12);
  }
  .navbar-menu-btn {
    display: none;
  }
  .navbar-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    order: 1;
    color: rgb(33, 37, 41);
    /* Button/Button Text */
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: capitalize;
  }
  .navbar-menu li:hover {
    cursor: pointer;
    color: rgb(0, 115, 12);
  }
  .navbar-item:after {
    content: url(images/arrow-down-black.svg);
    width: 12px;
    height: 6.8px;
  }
  .navbar-item:hover:after {
    content: url(images/arrow-down-green.svg);
  }
  .solution-container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
  }
  .bgi-bg {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1013px;
    height: 647px;
  }
  .solution__text {
    padding-top: 150px;
    font-size: 18px;
    margin: 0;
    max-width: 600px;
  }
  .solution__text-heading {
    font-size: 20px;
    width: 560px;
  }
  .solution__text-heading h2 {
    font-size: 58px;
    line-height: normal;
    padding: 20px 0;
  }
  .bgi-sm {
    display: none;
  }
  .solution__buttons {
    max-width: 600px;
    margin: 0;
  }
  .solution__buttons--upper {
    flex-direction: row;
    gap: 30px;
    justify-content: left;
    padding-left: 20px;
  }
  .sol-up-btn {
    width: 175px;
    height: 60px;
    font-size: 18px;
    line-height: 58px;
  }
  .how-it-works {
    color: rgb(103, 103, 103);
    font-size: 18px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    color: rgb(33, 37, 41);
    background-image: url(images/Arrow-rigth-Icon-gray.svg);
  }
  .how-it-works:hover {
    color: rgb(0, 115, 12);
    background-image: url(images/Arrow-rigth-Icon-green.svg);
  }
  .solution__buttons--lower {
    justify-content: space-evenly;
    padding-bottom: 60px;
  }
  .sol-low-btn {
    width: 150px;
    background: none;
    align-items: center;
    text-align: left;
    line-height: 25px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px;
    gap: 10px;
  }
  .round-button {
    background: linear-gradient(180deg, rgb(255, 248, 241), rgb(203, 229, 206));
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 34px;
    padding: 8px;
  }
  .services {
    max-width: 1410px;
    padding: 100px 0 0 0;
  }
  .services-header {
    color: rgb(33, 37, 41);
    text-align: center;
    padding-bottom: 30px;
    max-width: 1136px;
    margin: 0 auto;
  }
  .services-header h2 {
    /* H3/Extra Bold */
    font-size: 45px;
    font-weight: 800;
  }
  .services-header p {
    /*/H6/Regular */
    font-size: 18px;
    line-height: 30px;
  }
  .services-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.services-card {
  color: rgb(33, 37, 41);
  background-image: url(images/service-card.svg);
  background-repeat: no-repeat;
  background-size: 176px;
  background-position-y: top;
  background-position-x: center;
  padding: 50px;
  width: 330px;
  height: 366px;
}
.services-card:hover {
  background-color: rgb(0, 115, 12);
  color: white;
}

.card-content {
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  padding-top: 120px;
  text-align: center;
  padding-left: 0;
}
.card-content h5 {
  text-align: center;
  /*/H5/Bold */
  font-size: 24px;
  padding-bottom: 10px;
}
.card-content p {
  /* /H6/Regular */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 28px;
}/*# sourceMappingURL=style.css.map */